<!DOCTYPE HTML>
<html lang="ja">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>ブログ</title>
    <meta name="description" content="＃">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<header class="page-header wrapper">
    <nav>
        <ul class="main-nav">
            <li><a th:href="@{/home.html}">Home</a></li>
            <li><a th:href="@{/blogIndex.html}">Blog</a></li>
            <li><a th:href="@{/form.html}">Contact</a></li>
        </ul>
    </nav>
</header>

<main class="blogList">

</main>


</body>
</html>