<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Form List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>List</h1>
<div>
    <div th:each="blogContents : ${BlogContentData}">
        <p th:text="'Hizuke: ' + ${blogContents['hizuke']}"></p>
        <p th:text="'Thema: ' + ${blogContents['thema']}"></p>
        <p th:text="'Matter: ' + ${blogContents['matter']}"></p>


        <h1 th:text="${hizukeRezult}"></h1>

        <hr>
    </div>
</div>
</body>
</html>