<!DOCTYPE HTML>
<html lang="ja" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>お問い合わせ</title>
    <meta name="description" content="＃">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div id="contact" class="big-bg">
    <header class="page-header wrapper">
        <h1><a href="index.html"><img class="logo" src="images/logo.svg" alt="ブログ名"></a></h1>
        <nav>
            <ul class="main-nav">
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/bloglist}">Blog</a></li>
                <li><a th:href="@{/contactForm}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="wrapper">
        <h2 class="page-title">Thank you</h2>

            <p>
            <div>
                <label for="name">Name</label>
                <p type="text" id="name" name="your-name" th:text="${contactForm.name}"></p>
            </div>

            <div>
                <label for="email">Mail</label>
                <p type="email" id="email" name="your-email" th:text="${contactForm.email}"></p>
            </div>

            <div>
                <label for="message">Message</label>
                <p id="message" name="your-message" th:text="${contactForm.message}"></p>
            </div>
            </p>


    </div><!-- /.wrapper -->
</div><!-- /#contact -->

<footer>
    <div class="wrapper">
        <p><small>&copy; 2019 Manabox</small></p>
    </div>
</footer>
</body>
</html>


<!--<h1>Thank you!!</h1>-->
<!--<p th:text="'Name: ' + ${form.name}"></p>-->
<!--<p th:text="'Email: ' + ${form.email}"></p>-->
<!--<p th:text="'Message: ' + ${form.message}"></p>-->




